@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.prompt {
  margin-top: 20px;

  text-align: center;
  margin-bottom: 0px;

  h1 {
    font-size: 120px;
    margin: 0;
    line-height: 120px;
  }

  h2 {
    font-size: 30px;
    margin: 0 0 40px 0;
    padding: 10px 50px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    display: inline-block;
    background: white;

    span {
      transition: all 0.5s;
    }

    span.blurred {
      transition: all 0.0s;
      filter: blur(10px);
      font-weight: bold;
      letter-spacing: 10px;
    }
  }
}

.guesses {
  flex: 1;
  display: flex;
  flex-direction: column;

  h2 {
    flex: 0;

    span {
      $width: 450px;
      margin: 0 auto;
      display: block;
      position: absolute;
      text-align: center;
      left: 50%;
      width: $width;
      margin-left: -($width / 2);
      font-size: 30px;
      margin-top: -45px;
      color: #333;
    }
  }
}

.guess-container {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  flex: 1;
  background: white;
  margin: 30px 0 40px 0;
}

.guess {
  padding: 10px;
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.correct {
    background: rgba(255, 200, 100, 1);
  }

  .number {
    margin-right: 20px;
    width: 180px;
  }

  .message {
    flex: 1;
  }

  .created {
    margin-left: 20px;
    text-align: right;
  }
}
