.chat html,
.chat body,
.chat div,
.chat span,
.chat applet,
.chat object,
.chat iframe,
.chat h1,
.chat h2,
.chat h3,
.chat h4,
.chat h5,
.chat h6,
.chat p,
.chat blockquote,
.chat pre,
.chat a,
.chat abbr,
.chat acronym,
.chat address,
.chat big,
.chat cite,
.chat code,
.chat del,
.chat dfn,
.chat em,
.chat img,
.chat ins,
.chat kbd,
.chat q,
.chat s,
.chat samp,
.chat small,
.chat strike,
.chat strong,
.chat sub,
.chat sup,
.chat tt,
.chat var,
.chat b,
.chat u,
.chat i,
.chat center,
.chat dl,
.chat dt,
.chat dd,
.chat ol,
.chat ul,
.chat li,
.chat fieldset,
.chat form,
.chat label,
.chat legend,
.chat table,
.chat caption,
.chat tbody,
.chat tfoot,
.chat thead,
.chat tr,
.chat th,
.chat td,
.chat article,
.chat aside,
.chat canvas,
.chat details,
.chat embed,
.chat figure,
.chat figcaption,
.chat footer,
.chat header,
.chat hgroup,
.chat menu,
.chat nav,
.chat output,
.chat ruby,
.chat section,
.chat summary,
.chat time,
.chat mark,
.chat audio,
.chat video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.chat article,
.chat aside,
.chat details,
.chat figcaption,
.chat figure,
.chat footer,
.chat header,
.chat hgroup,
.chat menu,
.chat nav,
.chat section {
  display: block;
}
.chat body {
  line-height: 1;
}
.chat ol,
.chat ul {
  list-style: none;
}
.chat blockquote,
.chat q {
  quotes: none;
}
.chat blockquote:before,
.chat blockquote:after,
.chat q:before,
.chat q:after {
  content: '';
  content: none;
}
.chat table {
  border-collapse: collapse;
  border-spacing: 0;
}
