html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic");
@font-face {
  font-family: 'Big John';
  font-style: normal;
  src: url("../fonts/BIGJOHN.eot");
  src: local('Big John'), url("../fonts/BIGJOHN.otf") format('opentype');
}
@font-face {
  font-family: 'Slim Joe';
  font-style: normal;
  src: url("../fonts/SlimJoe.eot");
  src: local('Slim Joe'), url("../fonts/SlimJoe.otf") format('opentype');
}
html,
body {
  background: #fff;
  color: #26bafa;
  text-align: center;
}
h1 {
  font: 2em/1.4em 'Big John', sans-serif;
  letter-spacing: 0.2em;
}
h1 .light {
  font-family: 'Slim Joe', sans-serif;
}
h2 {
  font: 1.2em/1.4em 'Slim Joe', sans-serif;
  letter-spacing: 0.2em;
}
p {
  font: italic 1em/1em 'Josefin Slab', serif;
  letter-spacing: 0.05em;
}
a {
  color: #26bafa;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px dashed #26bafa;
}
a:hover {
  color: #58cafb;
  border-bottom: 1px dashed #58cafb;
}
button:focus,
input:focus {
  outline: 0;
}
.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
section {
  width: 50%;
  padding: 20px 25%;
}
.header {
  background: #26bafa;
  color: #fff;
}
.description {
  background: #58cafb;
  color: #fff;
}
.phone-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.phone-input label {
  font: 0.9em/1.4em 'Big John', sans-serif;
  padding-bottom: 10px;
}
.phone-input input {
  max-width: 220px;
  margin: auto;
  font: 1.6em/1.4 'Slim Joe', sans-serif;
  text-align: left;
  border: 1px solid #26bafa;
  padding: 10px 10px 5px 30px;
}
.phone-input input:focus {
  border-color: #fec030;
}
.phone-input .submit {
  max-width: 200px;
  margin: auto;
  margin-bottom: 20px;
  background: #26bafa;
  color: #fff;
  border: none;
  font: 0.9em/0.9em 'Big John', sans-serif;
  padding: 15px 15px 10px 15px;
}
.phone-input .submit:hover {
  background: #05a3e8;
}
.phone-input .submit:active {
  background: #fec030;
}
.chat {
  font-family: "Helvetica Neue" !important;
  font-size: 20px;
  font-weight: normal;
  max-width: 400;
  margin: 50px auto;
  text-align: left;
  background-color: #58cafb;
  padding: 30px;
  overflow: hidden;
}
.chat .bubble {
  font-family: "Helvetica Neue" !important;
  font-size: 20px;
  font-weight: normal;
  max-width: 450px;
  max-width: 400;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
}
.chat .clear {
  clear: both;
}
.chat .from-me {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #0b93f6;
  border-radius: 25px;
  float: right;
}
.chat .from-me:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.chat .from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: #58cafb;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
.chat .from-them {
  position: relative;
  padding: 10px 20px;
  background: #e5e5ea;
  border-radius: 25px;
  color: #000;
  float: left;
}
.chat .from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.chat .from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #58cafb;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
