.chat {
  font-family: "Helvetica Neue";
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  display: inline;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.chat.send {
  background-color: #0083fc;
}
.chat:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.chat:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: #fff;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic");
@font-face {
  font-family: 'Big John';
  font-style: normal;
  src: local('Big John'), url("../fonts/BIGJOHN.otf") format('opentype');
}
@font-face {
  font-family: 'Slim Joe';
  font-style: normal;
  src: local('Slim Joe'), url("../fonts/SlimJoe.otf") format('opentype');
}
html,
body {
  background-color: #26bafa;
  color: #fff;
  text-align: center;
}
h1 {
  font-family: 'Big John', sans-serif;
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: 0.2em;
}
h1 .light {
  font-family: 'Slim Joe', sans-serif;
}
h2 {
  font-family: 'Slim Joe', sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  letter-spacing: 0.2em;
}
p {
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 0.05em;
}
a {
  color: #26bafa;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px dashed #26bafa;
}
a:hover {
  color: #58cafb;
  border-bottom: 1px dashed #58cafb;
}
button:focus {
  outline: 0;
}
section {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.description {
  width: 100%;
  background-color: #58cafb;
}
.phone-input {
  width: 100%;
  background-color: #fff;
  color: #26bafa;
}
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.container .venn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;
}
.container .venn .rounded {
  opacity: 0.4;
  border-radius: 80px;
  max-width: 30%;
}
.container .venn .rounded.left {
  opacity: 1;
  margin-right: -20px;
}
.container .venn .rounded.right {
  opacity: 1;
  margin-left: -20px;
  padding-left: -20px;
}
.container .phone-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container .phone-input label {
  font-family: 'Big John', sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  padding-bottom: 10px;
}
.container .phone-input input {
  font-family: 'Slim Joe', sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #26bafa;
  padding-top: 10px;
  padding-bottom: 5px;
}
.container .phone-input input {
  color: #000;
}
.container .phone-input .submit {
  background-color: #26bafa;
  color: #fff;
  -webkit-appearence: none;
  border: none;
  font-family: 'Big John', sans-serif;
  font-size: 0.9em;
  line-height: 0.9em;
  padding: 15px 20px 10px 20px;
  margin-bottom: 20px;
}
