chunky = 'Big John', sans-serif;
slim = 'Slim Joe', sans-serif;
serifed = 'Josefin Slab', serif;
submit-button-height = 40px

html, body
	background white
	color core-color
	text-align center

h1
	font 2em/1.4em chunky
	letter-spacing 0.2em
	.light
		font-family slim
h2	
	font 1.2em/1.4em slim
	letter-spacing 0.2em
p
	font italic 1em/1em serifed
	letter-spacing 0.05em
a
	color core-color
	text-decoration none
	padding-bottom 3px
	border-bottom 1px dashed core-color
	&:hover
		color core-light
		border-bottom 1px dashed core-light
	
button:focus, input:focus
	outline 0	

.container
	width 100%
	flex-center()
	flex-direction(column)
section
	// this will change depending on mobile or desktop
	width 50%
	padding 20px 25%
.header
	background core-color
	color white
.description
	background core-light
	color white
.phone-input	
	flex-center()
	flex-direction(column)
	label
		font .9em/1.4em chunky
		padding-bottom 10px
	input
		max-width 220px
		margin auto
		font 1.6em/1.4 slim
		text-align left
		border 1px solid core-color
		padding 10px 10px 5px 30px
		&:focus
			border-color emoji-yellow
	.submit
		max-width 200px
		margin auto
		margin-bottom 20px
		background core-color
		color white
		border none
		font .9em/.9em chunky
		padding 15px 15px 10px 15px
		&:hover
			background core-dark
		&:active
			background emoji-yellow