chunky = 'Big John', sans-serif;
slim = 'Slim Joe', sans-serif;
serifed = 'Josefin Slab', serif;
submit-button-height = 40px

html, body
	background white
	color core-color
	text-align center

h1
	font 2em/1.4em chunky
	padding-top 7px
	letter-spacing 0.2em
	.light
		font 400 1.4em/1.4em serifed
h2	
	font 400 1.3em/1.2em serifed
	letter-spacing 0.2em
	margin-bottom 0.8em
p
	font 400 1.1em/1.5em serifed
	letter-spacing 0.05em
a, #wtf
	font-weight 700
	color core-color
	text-decoration none
	padding-bottom 1px
	border-bottom 1px dashed core-color
	cursor pointer
	&:hover
		color core-dark
		border-bottom 1px dashed core-dark
	&:active
		color emoji-yellow
		border-bottom 1px dashed emoji-yellow
	
button:focus, input[type='tel']:focus
	outline 0	

.container
	width 100%
	flex-center()
	flex-direction(column)
section
	flex-center()
	flex-direction(column)
	width 90%
	padding 30px 5%
.header
	flex-direction(row)
	flex-wrap(wrap)
	background core-color
	color white
	padding-top 150px
	padding-bottom 100px
	.headlines
		margin 0px 20px 10px 20px
		padding-top 20px
		text-align left
		h1
			padding-bottom 13px
			margin-bottom 25px
			border-bottom 2px solid white
	.chat
		overflow hidden
		min-width 350px
		max-width 480px
		margin 0px 40px
		padding 30px 10px 10px 10px
.subtitle, .footer
	background core-light
	color white
	padding-top 20px
	padding-bottom 20px
.phone-input	
	label
		font .9em/1.4em chunky
		padding-top 20px
	input[type='tel']
		max-width 200px
		margin 10px auto 15px auto
		font 400 1.6em/1.4 serifed
		text-align left
		border 2px solid core-color
		transition border 0.2s
		border-radius 3px
		padding 12px 10px 8px 30px
		-webkit-appearance none
		appearance none
		&:focus
			border-color emoji-yellow
	.submit
		width 260px
		margin 15px auto 40px auto
		background core-color
		color white
		border none
		border-radius 3px
		font .9em/.9em chunky
		padding 23px 0px 16px 0px
		text-align center
		cursor pointer
		&:hover
			background core-dark
		&:active
			background emoji-yellow
	.faq
		display none
		position relative
		max-width 680px
		p:nth-child(odd)
			margin 30px 0px 20px 0px
			font-weight 700
.footer
	p
		max-width 350px
		text-transform lowercase
		padding-bottom 10px
	a
		color white
		border-bottom 1px dashed white
		font-weight 700
		&:hover
			color core-dark
			border-bottom 1px dashed core-dark
		&:active
			color emoji-yellow
			border-bottom 1px dashed emoji-yellow
// .spinner
// 	margin 0px auto
// 	width 50px
// 	height 40px
// 	text-align center
// 	font-size 10px
/*
	.spinner > div
		background-color #fff
		height 100%
		width 6px
		display inline-block
		-webkit-animation sk-stretchdelay 1.2s infinite ease-in-out
		animation sk-stretchdelay 1.2s infinite ease-in-out
	.rect2
		-webkit-animation-delay: -1.1s
		animation-delay: -1.1s
	.rect3
		-webkit-animation-delay: -1.0s
		animation-delay: -1.0s
	.rect4
		-webkit-animation-delay: -0.9s
		animation-delay: -0.9s
	.rect5
		-webkit-animation-delay: -0.8s
		animation-delay: -0.8s
@-webkit-keyframes sk-stretchdelay
	0%, 40%, 100%
		webkit-transform scaleY(0.4)
	20%
		-webkit-transform scaleY(1.0)
@keyframes sk-stretchdelay {
	0%, 40%, 100%
		transform scaleY(0.4)
		-webkit-transform scaleY(0.4)
	20%
		transform scaleY(1.0)
		-webkit-transform scaleY(1.0)

media queries
*/

@media (max-width: 1088px)
	.header
		padding-top 30px
		padding-bottom 50px
		.headlines
			text-align center
			
@media (max-width: 414px)
	.header
		width 100%
		padding 0px 0% 20px 0%
		.chat
			overflow hidden
			width 100%
			min-width 280px
			// max-width 350px
			margin 0px
			padding 15px 0px 0px 0px
		.headlines h1
			padding-bottom 12px
	.phone-input	
		label
			max-width 190px
	.subtitle
		background core-color
		color white
		padding-top 5px

 