flex()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex

flex-align(n)
	-webkit-box-align n 
	-moz-box-align n
	-ms-flex-align n
	-webkit-align-items n
	align-items n
	
flex-justify-content(a)
	-webkit-box-pack a
	-moz-box-pack a
	-ms-flex-pack a
	-webkit-justify-content a
	justify-content a
	
flex-direction(b)
	-webkit-flex-direction b
	-moz-flex-direction b
	-ms-flex-direction b
	flex-direction b
	
flex-order(c)
	-webkit-box-ordinal-group c
	-moz-box-ordinal-group c
	-ms-flex-order c
	-webkit-order c    
	order c
	
flex-center()
	flex()
	align(center)
	justify-content(center)