@import url('http://fonts.googleapis.com/css?family=Josefin+Slab:400,300,400italic,100italic')

@font-face
   font-family 'Big John'
   font-style normal
   src url('../fonts/BIGJOHN.eot')
   src local('Big John'), url('../fonts/BIGJOHN.otf') format('opentype')
@font-face
   font-family 'Slim Joe'
   font-style normal
   src url('../fonts/SlimJoe.eot')
   src local('Slim Joe'), url('../fonts/SlimJoe.otf') format('opentype')