core-color = #26BAFA
// core-light = lighten(core-color, 10)
core-light = #58CAFB
core-dark = darken(core-color, 10)
emoji-yellow = #fec030
chat-bubble-color1 = #E5E5EA
chat-bubble-color2 = #E5E5EA

// iOS blue 0B93F6
// iOS green 4CD964
// iOS yellow FFCC00