flex()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex

flex-align(a)
	-webkit-box-align a
	-moz-box-align a
	-ms-flex-align a
	-webkit-align-items a
	align-items a
	
flex-justify-content(b)
	-webkit-box-pack b
	-moz-box-pack b
	-ms-flex-pack b
	-webkit-justify-content b
	justify-content b
	
flex-center()
	flex()
	flex-align(center)
	flex-justify-content(center)
	
flex-direction(c)
	-webkit-flex-direction c
	-moz-flex-direction c
	-ms-flex-direction c
	flex-direction c

flex-wrap(d)
	-webkit-flex-wrap d
	-moz-flex-wrap d
	-ms-flex-wrap d
	flex-wrap d
