.emojisalad {
}

.masthead {
  background: #999;
  height: 350px;
  display: flex;
  padding: 40px;
}

.title {
  flex: 1;
}

.demo {
  flex: 0;
  width: 400px;
}

.explanation {
  h2 {
    font-size: 24px;
    text-align: center;
  }

  input[type="submit"] {
    font-size: 30px;
    padding: 30px;
  }
}

.invite {
  text-align: center;
  margin: 20px 0;
}

.phone {
  padding: 20px;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
