@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Sigmar+One|Luckiest+Guy|Alegreya+Sans+SC:900|Paytone+One|Fascinate')

sans-font = 'Paytone One', 'Arial Black', Arial, sans-serif
// sans-font = 'Sigmar One', 'Arial Black', Arial, sans-serif
body-font = Inconsolata, Courier, 'Courier New', serif
duration = 0.4s

// bg-color = rgb(255,124,129)
// dark-accent = rgb(255,95,95)
// light-accent = rgb(255,141,144)
// accent-yellow = rgb(252,249,121)
// dark-grey = rgb(149, 168, 178)

blk-color = rgb(51,51,49)
bg-color = rgb(255,135,130)
dark-accent = rgb(250,105,100)
light-accent = rgb(250,105,100,.2)
accent-yellow = rgb(255,212,100)
dark-grey = rgb(51,51,49)

// global styles

body
  background-color bg-color
  text-align center
  color blk-color

h1
  font 5rem/5rem sans-font
  text-transform uppercase
  letter-spacing 2px
  color white
  -webkit-text-stroke 1px blk-color
  text-shadow 7px 7px 0 #000, -3px -3px 0 #000,  3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000
  margin-top 30px

h2
  font 400 1.75rem/1.75rem body-font
  padding-bottom 20px

h3
  padding-top 30px
  padding-bottom 20px
  font 900 1.75rem/1.75rem sans-font
  text-transform uppercase
  letter-spacing 2px
  color white

p
  font 400 1.125rem/1.4rem body-font    

form
  margin-top 20px
  margin-bottom 20px

.module
  padding 0 10%

.bg-dark
  background-color dark-accent
.bg-light
  background-color light-accent
.bg-dark-grey
  background-color dark-grey
.bg-white
  background-color white
  h3  
    color dark-accent    
.bg-gradient
  background -webkit-linear-gradient(left, dark-accent, dark-accent 40%, white 41%)
.bg-pattern
  background-image url('../img/emojisalad-pattern-wide2.png')
  background-size 200px 200px
  background-repeat repeat
.bg-dotted
  background-image radial-gradient(dark-accent 15%, transparent 16%), radial-gradient(dark-accent 15%, transparent 16%)
  background-size 20px 20px
  background-position 0 0, 10px 10px

.box-white
  background-color white
  border 4px solid blk-color
  border-radius 3px
  -webkit-appearance none
  appearance none
.box-yellow
  background-color accent-yellow
  border 4px solid blk-color
  border-radius 3px
  -webkit-appearance none
  appearance none

.masthead
  height 400px
  display flex
  text-align left    
.title
  flex 1
  margin-right 5%
.demo
  flex 2
  width 400px
  text-align left
  transition-duration duration
  
.cta
  height 320px
  display flex
  text-align left   
.explainer
  flex 1.8
  & > *
    width 90%
.bg-arrow
  flex 0.2
  width 0
  height 0
  border-top 160px solid transparent
  border-bottom 160px solid transparent
  border-left 80px solid dark-accent
.signup
  flex 1
  position relative
  padding-left 200px
  transition-duration: duration

input[type='text']
  padding 10px 0 13px 0
  font 400 1.75rem/1.75rem body-font
  text-align center
  &:focus
    border-color dark-accent

input[type='submit']
  padding 15px 20px 17px 20px
  font 400 1.125rem/1.125rem sans-font
  text-align center
  text-transform uppercase
  &:focus
    border-color dark-accent

.test-container
  height 250px
  .test
    position absolute
    width 40%
    min-width 500px
    max-width 600px
    margin-left -20%
  .test:nth-child(1)
    left 50%
  .test:nth-child(2)
    left 150%
  .test:nth-child(3)
    left 250%
  .test:nth-child(4)
    left 350%
  .test:nth-child(5)
    left 450%
  .card
    height 200px
    position relative
    z-index 2
    line-height 200px
    display flex
    align-items center
    justify-content center
    p
      flex none
      max-width 50%
  .card:nth-child(2)
    top -194px
    left: 15px
    z-index 1

border-size = 4px
message-width = 200px
message-height = 100px
offset = 15px

.messages
  width 500px
  overflow hidden
  height 112%
  position relative

.message
  position: absolute
  width: message-width + (border-size * 2) + offset
  top 110%
  clear both
  margin-bottom 60px
  transition-duration duration; 

  &.left
    float: left

  &.right
    float: right
    right 0

  p
    padding: 20px;

  .card
    border 4px solid black
    position relative
    width: message-width 
    height: message-height

  .bg-white
    z-index 2

  .bg-yellow 
    background accent-yellow
    top: offset;
    left: offset 
    z-index 1
    position absolute

  .arrow
    position absolute
    border: 25px solid;
    border-color: black transparent transparent black;
    width: 0;
    height: 0;
    bottom -(50 + (border-size))px
    left 0
    z-index 2
    
  .inner-arrow
    border: 18px solid;
    border-color: white transparent transparent white;
    top -(25 - border-size)px
    left -(25 - border-size)px
    z-index 3

  .bg-arrow
    border-color: white transparent transparent white;
    left: -21px;
    top: -35px;

  .main-arrow
    left: 20px

  &.right
    .arrow
      left auto
      position absolute
      border-color: black black transparent transparent ;
      right 0
      
    .inner-arrow
      border-color: white white transparent transparent;
      right -(25 - border-size)px

    .bg-arrow
      border-color: white white transparent transparent;
      right: -21px;

    .main-arrow
      left auto
      right: 20px

.bg-white
  .bg-arrow, .inner-arrow
    border-color: white transparent transparent white;

.bg-yellow
  .bg-arrow, .inner-arrow
    border-color: accent-yellow transparent transparent accent-yellow;

.right
  .bg-yellow
    .bg-arrow, .inner-arrow
      border-color: accent-yellow accent-yellow transparent transparent;
