lesscss-percentage(n)
  (n * 100)%
.games
  display flex
  flex-direction column
.game-container
  flex 1
  display flex
  flex-direction column
.stats
  display flex
.round-stats
  padding-left: 20px
.game-stats
  margin-bottom 20px
.messages
  display flex
  flex 1
  padding-top 20px
.phone
  background white
  flex 1
  border 1px solid #CCC
  margin-right 20px
  padding: 20px
  overflow: scroll
  .message
    padding-bottom: 10px

    &.sent
      text-align: right

  &:last-child
    margin-right 0
iframe
  background white
  flex 1
  border 1px solid #CCC
  margin-right 20px
  &:last-child
    margin-right 0
