lesscss-percentage(n)
  (n * 100)%
.games
  display flex
  flex-direction column
.game-container
  flex 1
  display flex
  flex-direction column
.stats
  display flex
  min-height: 80px
  border-bottom 1px solid #CCC
  padding-bottom 5px
.round-stats
  padding-left: 20px
.game-stats
  margin-bottom 20px
.messages
  display flex
  flex 1
  padding-top 20px
.phone-container
  flex: 1
  display flex
  flex-direction column
  margin-right: 10px

  &:last-child
    margin-right 0
  
.phone-header
  display flex
  margin-bottom 10px
  padding-bottom 15px
  flex 0
  p
    flex: 1

.phone
  background white
  flex 1
  border 1px solid #CCC
  overflow: scroll
  padding: 20px
  .message-container
    padding-bottom: 10px
    border-radius 15px
    padding 8px 15px
    margin-bottom 5px
    display inline-block
    clear both

    &.sent
      float: left
      background: #ccc
    &.received
      float: right;
      background: #1ec34b
      color white

iframe
  background white
  flex 1
  border 1px solid #CCC
  margin-right 20px
  &:last-child
    margin-right 0
.clear 
  clear: both
