{
  "presets": ["react-native-stage-0/decorator-support"],
  "plugins": [
    ["module-alias", [
      { "src": "./app", "expose": "app" },
      { "src": "./app/pages", "expose": "pages" },
      { "src": "./app/components", "expose": "components" },
      { "src": "./app/utils", "expose": "utils" },
      { "src": "./app/reducers", "expose": "reducers" },
      { "src": "./app/redux/middlewares", "expose": "middlewares" },
      { "src": "./config.js", "expose": "config" },
    ]]
  ]
}
