@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Sigmar+One|Luckiest+Guy|Alegreya+Sans+SC:900|Paytone+One|Fascinate");
body {
  background-color: #ff8782;
  text-align: left;
  color: #333331;
}
h1 {
  font: 5rem/5rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  -webkit-text-stroke: 1px #333331;
  text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  margin-top: 30px;
}
h2 {
  font: 400 1.5rem/1.5rem Inconsolata, Courier, 'Courier New', serif;
  padding-bottom: 20px;
  color: #fff;
}
h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  font: 900 1.75rem/1.75rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
p,
ul {
  font: 400 1.125rem/1.4rem Inconsolata, Courier, 'Courier New', serif;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #ffd464;
  padding-bottom: 2px;
  border-bottom: 1px dashed #ffd464;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.module {
  padding: 0 10%;
}
.bg-dark {
  background-color: #fa6964;
}
.bg-light {
  background-color: #fa6964;
}
.bg-dark-grey {
  background-color: #979795;
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.bg-white h3 {
  color: #fa6964;
}
.bg-gradient {
  background: -webkit-linear-gradient(left, #fa6964, #fa6964 40%, #fff 41%);
}
.bg-pattern {
  background-image: url("../img/emojisalad-pattern-again.png");
  background-size: 200px 170px;
  background-repeat: repeat;
}
.bg-dotted {
  background-image: radial-gradient(#fa6964 15%, transparent 16%), radial-gradient(#fa6964 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.box-white {
  background-color: #fff;
  border: 4px solid #333331;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}
.box-yellow {
  background-color: #ffd464;
  border: 4px solid #333331;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}
.masthead {
  height: 440px;
  display: flex;
}
.title {
  flex: 1;
  margin-right: 5%;
}
.demo {
  flex: 2;
  width: 400px;
  transition-duration: 0.4s;
}
.cta {
  height: 280px;
  display: flex;
}
.explainer {
  flex: 1.8;
}
.explainer > * {
  width: 90%;
}
.bg-arrow {
  flex: 0.2;
  width: 0;
  height: 0;
  border-top: 140px solid transparent;
  border-bottom: 140px solid transparent;
  border-left: 80px solid #fa6964;
}
.signup {
  flex: 1;
  position: relative;
  transition-duration: 0.4s;
  margin-left: -30px;
}
.footer {
  height: 300px;
  display: flex;
}
.siblings {
  flex: 2;
  margin-right: 20%;
}
.submit-clues {
  flex: 1.25;
}
input[type='text'] {
  display: inline-block;
  width: 230px;
  padding: 10px 0 13px 0;
  font: 400 1.75rem/1.75rem Inconsolata, Courier, 'Courier New', serif;
  text-align: center;
}
input[type='text']:focus {
  border-color: #fa6964;
}
input[type='submit'] {
  display: inline-block;
  padding: 15px 10px 17px 10px;
  font: 400 1.125rem/1.125rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
input[type='submit']:focus {
  border-color: #fa6964;
}
.test-container {
  height: 250px;
}
.test-container .test {
  position: absolute;
  width: 40%;
  min-width: 500px;
  max-width: 600px;
  height: 222px;
  margin-left: -20%;
}
.test-container .test:nth-child(1) {
  left: 50%;
}
.test-container .test:nth-child(2) {
  left: 150%;
}
.test-container .test:nth-child(3) {
  left: 250%;
}
.test-container .test:nth-child(4) {
  left: 350%;
}
.test-container .test:nth-child(5) {
  left: 450%;
}
.test-container .card {
  height: 200px;
  position: relative;
  z-index: 2;
  line-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-container .card p {
  flex: none;
  max-width: 50%;
}
.test-container .card:nth-child(2) {
  top: -194px;
  left: 15px;
  z-index: 1;
}
.messages {
  width: 500px;
  overflow: hidden;
  height: 112%;
  position: relative;
}
.message {
  position: absolute;
  width: 223px;
  top: 110%;
  clear: both;
  margin-bottom: 60px;
  transition-duration: 0.4s;
}
.message.left {
  float: left;
}
.message.right {
  float: right;
  right: 0;
}
.message p {
  padding: 20px;
}
.message .card {
  border: 4px solid #000;
  position: relative;
  width: 200px;
  height: 100px;
}
.message .bg-white {
  z-index: 2;
}
.message .bg-yellow {
  background: #ffd464;
  top: 15px;
  left: 15px;
  z-index: 1;
  position: absolute;
}
.message .arrow {
  position: absolute;
  border: 25px solid;
  border-color: #000 transparent transparent #000;
  width: 0;
  height: 0;
  bottom: -54px;
  left: 0;
  z-index: 2;
}
.message .inner-arrow {
  border: 18px solid;
  border-color: #fff transparent transparent #fff;
  top: -21px;
  left: -21px;
  z-index: 3;
}
.message .bg-arrow {
  border-color: #fff transparent transparent #fff;
  left: -21px;
  top: -35px;
}
.message .main-arrow {
  left: 20px;
}
.message.right .arrow {
  left: auto;
  position: absolute;
  border-color: #000 #000 transparent transparent;
  right: 0;
}
.message.right .inner-arrow {
  border-color: #fff #fff transparent transparent;
  right: -21px;
}
.message.right .bg-arrow {
  border-color: #fff #fff transparent transparent;
  right: -21px;
}
.message.right .main-arrow {
  left: auto;
  right: 20px;
}
.bg-white .bg-arrow,
.bg-white .inner-arrow {
  border-color: #fff transparent transparent #fff;
}
.bg-yellow .bg-arrow,
.bg-yellow .inner-arrow {
  border-color: #ffd464 transparent transparent #ffd464;
}
.right .bg-yellow .bg-arrow,
.right .bg-yellow .inner-arrow {
  border-color: #ffd464 #ffd464 transparent transparent;
}
