@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Sigmar+One|Luckiest+Guy|Alegreya+Sans+SC:900|Paytone+One|Fascinate");
body {
  background-color: #ff7c81;
  text-align: center;
  color: #000;
}
h1 {
  font: 5rem/5rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
h2 {
  font: 400 1.75rem/1.75rem Inconsolata, Courier, 'Courier New', serif;
}
h3 {
  margin-bottom: 20px;
  font: 900 1.75rem/1.75rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
p {
  font: 400 1.125rem/1.4rem Inconsolata, Courier, 'Courier New', serif;
}
form,
.test-container {
  margin-top: 20px;
}
.module {
  padding: 50px 0 50px 0;
}
.bg-dotted {
  background-image: radial-gradient(#ff5f5f 15%, transparent 16%), radial-gradient(#ff5f5f 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.bg-dark {
  background-color: #ff5f5f;
}
.bg-dark:before,
.bg-dark:after {
  z-index: 10;
  content: "";
  position: relative;
  display: block;
  height: 20px;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, transparent 33.333%, #ff5f5f 33.333%, #ff5f5f 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ff5f5f 33.333%, #ff5f5f 66.667%, transparent 66.667%);
  background-size: 20px 40px; /* toothSize doubleHeight */
}
.bg-dark:before {
  top: -70px;
  background-position: 10px 0; /* horizontalOffset -height */
}
.bg-dark:after {
  bottom: -70px;
  background-position: 10px -20px; /* horizontalOffset -height */
}
.bg-dark-grey {
  background-color: #95a8b2;
}
.bg-white {
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}
.bg-yellow {
  background-color: #fcf979;
  border: 4px solid #000;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}
.masthead {
  height: 320px;
  display: flex;
  padding: 40px;
  text-align: left;
}
.title {
  flex: 1;
}
.demo {
  flex: 2;
  width: 400px;
  text-align: left;
  position: relative;
  padding-left: 200px;
  transition-duration: 0.4s;
}
input[type='text'] {
  display: inline-block;
  padding: 10px 0 13px 0;
  font: 400 1.75rem/1.75rem Inconsolata, Courier, 'Courier New', serif;
  text-align: center;
}
input[type='text']:focus {
  border-color: #ff5f5f;
}
input[type='submit'] {
  display: inline-block;
  margin-left: 10px;
  padding: 15px 20px 17px 20px;
  font: 400 1.125rem/1.125rem 'Paytone One', 'Arial Black', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
input[type='submit']:focus {
  border-color: #ff5f5f;
}
.test-container {
  padding-left: 200px;
  height: 220px;
}
.test-container .card {
  width: 600px;
  height: 200px;
  line-height: 200px;
  position: relative;
  z-index: 2;
}
.test-container .card p {
  display: inline-block;
  vertical-align: middle;
}
.test-container .card:nth-child(2) {
  top: -194px;
  left: 15px;
  z-index: 1;
}
.messages {
  width: 500px;
  overflow: hidden;
  height: 112%;
  position: relative;
}
.message {
  position: absolute;
  width: 223px;
  top: 110%;
  clear: both;
  margin-bottom: 60px;
  transition-duration: 0.4s;
}
.message.left {
  float: left;
}
.message.right {
  float: right;
  right: 0;
}
.message p {
  padding: 20px;
}
.message .card {
  position: relative;
  width: 200px;
  height: 100px;
}
.message .bg-white {
  z-index: 2;
}
.message .bg-yellow {
  top: 15px;
  left: 15px;
  z-index: 1;
  position: relative;
  position: absolute;
}
.message .arrow {
  position: absolute;
  border: 25px solid;
  border-color: #000 transparent transparent #000;
  width: 0;
  height: 0;
  bottom: -54px;
  left: 0;
  z-index: 2;
}
.message .inner-arrow {
  border: 18px solid;
  border-color: #fff transparent transparent #fff;
  top: -21px;
  left: -21px;
  z-index: 3;
}
.message .bg-arrow {
  border-color: #fff transparent transparent #fff;
  left: -21px;
  top: -35px;
}
.message .main-arrow {
  left: 20px;
}
.message.right .arrow {
  left: auto;
  position: absolute;
  border-color: #000 #000 transparent transparent;
  right: 0;
}
.message.right .inner-arrow {
  border-color: #fff #fff transparent transparent;
  right: -21px;
}
.message.right .bg-arrow {
  border-color: #fff #fff transparent transparent;
  right: -21px;
}
.message.right .main-arrow {
  left: auto;
  right: 20px;
}
.bg-white .bg-arrow,
.bg-white .inner-arrow {
  border-color: #fff transparent transparent #fff;
}
.bg-yellow .bg-arrow,
.bg-yellow .inner-arrow {
  border-color: #fcf979 transparent transparent #fcf979;
}
.right .bg-yellow .bg-arrow,
.right .bg-yellow .inner-arrow {
  border-color: #fcf979 #fcf979 transparent transparent;
}
