@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
body,
html,
.admin {
  height: 100%;
}
.admin {
  display: flex;
  flex-direction: column;
}
body {
  background: #eee;
  font-family: sans-serif;
}
.new-message-input details {
  cursor: pointer;
}
.new-message-input label {
  display: block;
  padding-top: 10px;
}
.new-message-input input {
  width: 100%;
}
.new-message-input textarea {
  width: 100%;
}
.new-message-input button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
.page {
  flex: 1;
  padding: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
}
table td.full {
  padding: 0;
}
table td textarea {
  width: 100%;
  height: 100%;
  font-size: 12px;
  min-height: 80px;
  padding: 0;
  border: none;
}
.error {
  background: #f00;
}
.games {
  display: flex;
  flex-direction: column;
}
.game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.stats {
  display: flex;
  min-height: 80px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.round-stats {
  padding-left: 20px;
}
.game-stats {
  margin-bottom: 20px;
}
.messages {
  display: flex;
  flex: 1;
  padding-top: 20px;
}
.phone-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.phone-container:last-child {
  margin-right: 0;
}
.phone-header {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 15px;
  flex: 0;
}
.phone-header p {
  flex: 1;
}
.phone {
  background: #fff;
  flex: 1;
  border: 1px solid #ccc;
  overflow: scroll;
  padding: 20px;
}
.phone .message-container {
  padding-bottom: 10px;
  border-radius: 15px;
  padding: 8px 15px;
  margin-bottom: 5px;
  display: inline-block;
  clear: both;
}
.phone .message-container.sent {
  float: left;
  background: #ccc;
}
.phone .message-container.received {
  float: right;
  background: #1ec34b;
  color: #fff;
}
iframe {
  background: #fff;
  flex: 1;
  border: 1px solid #ccc;
  margin-right: 20px;
}
iframe:last-child {
  margin-right: 0;
}
.clear {
  clear: both;
}
.add-phrase {
  float: right;
}
.log {
  height: 100%;
  display: flex;
}
.log .logfile {
  flex: 1;
  background: #fff;
  font-family: monospace;
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 5px;
}
.admin header {
  padding: 10px;
  background: #ddd;
}
.admin header .account {
  float: right;
  clear: both;
}
.admin header li {
  display: inline-block;
  margin-right: 20px;
}
.admin header li a {
  text-decoration: none;
  color: #000;
}
.dashboard .row {
  display: flex;
}
.box {
  background: #ccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  min-height: 120px;
  text-align: center;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box h2 {
  margin-top: 20px;
  font-size: 48px;
}
.box:last-child {
  margin-right: 0;
}
