<html>
<head><title>Emoji Salad</title></head>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<body>
<img src='http://rs248.pbsrc.com/albums/gg176/bls31401/ugly.jpg?w=280&h=210&fit=crop' style='width: 100%' />
<a href='javascript:doit(1)' style='overflow: hidden'>
<img style='width: 400; margin-left: -166px;' src='https://scontent-lga3-1.xx.fbcdn.net/v/t39.2365-6/17351557_1349842165081381_5769263091489439744_n.png?oh=1c6e5d6292e041b6e2f2f41a59a44002&oe=5A360AE9' />
</a>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<script>
window.extAsyncInit = function() {
  console.log("loaded");

};

var messageToShare = {
  "attachment":{
    "type":"template",
    "payload":{
      "template_type":"generic",
      "elements": [{
        "title":"Schloo has submitted: 😀 😃 😄 😁",
        {{!"image_url": "http://rs248.pbsrc.com/albums/gg176/bls31401/ugly.jpg?w=280&h=210&fit=crop",}}
        "buttons":[{
          "type":"web_url",
          "url":"https://3318f959.ngrok.io/guess",
          "webview_height_ratio": 'compact',
          "title":"Guess"
        }]
      }]
    }
  }
};
function doit() {
  MessengerExtensions.beginShareFlow(function success(response) {
    // User dismissed without error, but did they
    // share the message?

    if(response.is_sent){
      // The user actually did share. 
      // Perhaps close the window w/ requestCloseBrowser().
      	MessengerExtensions.requestCloseBrowser();
    }else{

    }

  }, function error(errorCode, errorMessage) {      
    // An error occurred in the process

  },
  messageToShare,
  "current_thread");    

  // the Messenger Extensions JS SDK is done loading 
}
</script>
</body>
</html>

